.bg-bug {
  background:#71ac0c;
}
.bg-dark{
  background-color:#27271a;
}
.bg-dragon{
  background-color: #26469a;
}
.bg-electric{
  background-color:#fcea36;
}
.bg-fairy{
  background-color:#e782ff;
}
.bg-fighting{
  background-color:#962620;
}
.bg-fire{
  background-color:#eb6236;
}
.bg-flying{
  background-color:#788ecb;
}
.bg-ghost{
  background-color:#392f68;
}
.bg-grass{
  background-color:#488d06;
}
.bg-ground{
  background-color:#684926;
}
.bg-ice{
  background-color:#51bbdf;
}
.bg-normal{
  background-color: #b3b3b3;
}
.bg-poison{
  background-color:#743870;
}
.bg-psychic{
  background-color:#ea524a;
}
.bg-rock{
  background-color:#b88d4f;
}
.bg-steel{
  background-color:#395a68;
}
.bg-water{
  background-color:#518dd8;
}